// colors

$black:      #121212;
$green:      #7AC4AF;
$green-dark: #63A391;
$blue-dark:  #303240;
$blue:       #30323F;
$white:      #fff;
$white-off:  rgba($white, 0.8);
$gray:       #E6E6E6;
$red:        #D34745;